body{  
    font-family: 'Red Hat Display', sans-serif;
    line-height: 30px;    
    position: relative;
    background: #FFFFFF;
    text-align: center;
  
}

h1{ 
    text-align: center;
    font: 'Red Hat Display', sans-serif;
    font-family:"Red Hat Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

#entrar {
    text-align: center;
    font: 'Red Hat Display', sans-serif;
    background-color: pink;

}

button {
    text-align: center;
    font: 'Red Hat Display', sans-serif;
    border-radius: 65px 65px 65px 65px;
    -moz-border-radius: 65px 65px 65px 65px;
    -webkit-border-radius: 65px 65px 65px 65px;
    border: 0px solid #000000;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 16px;
    line-height: 21px;
}

p {
    font: 'Red Hat Display', sans-serif;
    line-height: 25px;
    text-align: center;
}

input{
    font: 'Red Hat Display', sans-serif;
}