body{  
    font-family: 'Red Hat Display';
    font-size: 18px;
    line-height: 30px;    
    position: relative;
    background: #FFFFFF;
    text-align: center;
  
}

button {
    border: none;
    background: rgb(211, 245, 247);
    font-family: 'Red Hat Display';
}

.container {

    font-family: 'Red Hat Display';
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    width: 265px;
    height: 45px;
    left: 55px;
    top: 263px;
}

.ligas {
    background: rgba(255, 255, 0, 0)!important;
    font-family: 'Red Hat Display';
    font-size: 16px;
}

h1{
    font-family: 'Red Hat Display';
    font-size: 18px;
}

select{
    font-family: 'Red Hat Display';  
}

#instruc{
    font-size: 15px !important;
}

footer{
    position: relative ;
    top: 100px;
}